.booking-card{
    background-color: white;
    border : 1px solid rgb(182, 182, 182) ;
    width: 55rem;
    height: 30vh;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
 
}
.booking-card:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.single-card{
    background-color: white;
    border : 1px solid rgb(182, 182, 182) ;
    width: 50rem;
    height: 10rem;
    padding: 1.5rem;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
 
}
.single-card:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.booking-flight{
    margin-top: 10px;
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
}

.seats{
   font-weight: 600; 
}
.emphasis{
    font-weight: 600;
    margin-bottom: 0;
    font-size: large;
}
.no-result{
    background-color: white;
    border : 1px solid rgb(182, 182, 182) ;
    width: 60em;
    height: auto;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding : 5em 5em 7em 5em 
    
 
}

.reservation-containor{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* border: 2px solid red; */
    padding: 1rem;
    background-color: #edf0f0;
    border-radius: 10px;
}