body,
html {
  height: 100vh !important;
  margin: 0 !important;
  background: url(../images/background.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.flex-col-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  height: 100vh;
  
}

.flex-row-profile {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header {
  width: 100%;
  height: 30vh;
  background-color: #12228f;
}

.profile-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width:40vw;
  height: 52vh;
  background-color: white;
  border-radius: 10px;
  border: 2px solid rgb(90, 90, 90)
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  background-color: white;
  border-radius: 10px;
  align-self: center;
  /* box-shadow:5px 5px 2px 2px rgba(139, 139, 139, 0.699) ; */
}

.account-icon{
  width:100%;
  display: flex;
  justify-content: center;
}
.name{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  font-size:xxx-large;
}



.profile-th {
  /* padding: 1rem; */
  text-align: left !important;
  background: white;
  color: black;
}

